specVersion: 0.0.5
description: Swarm Network provides open technology to enable the creation and management of digital assets. v0.0.1
repository: https://github.com/SwarmMarkets/trade-subgraph
schema:
  file: ./{{ schemaFileName }}
dataSources:
{{ #dataSources.sx1155 }}
  - kind: ethereum/contract
    name: NFTFactory
    network: {{ network }}
    source:
      address: "{{ dataSources.sx1155.factory.address }}"
      abi: SX1155NFTFactory
      startBlock: {{ dataSources.sx1155.factory.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/nft/index.ts
      entities:
        - NFTFactory
        - NFTToken
        - NFT
      abis:
        - name: SX1155NFTFactory
          file: ./abis/SX1155NFTFactory.json
        - name: SX1155NFT
          file: ./abis/SX1155NFT.json
      eventHandlers:
        - event: ChainWikiDeployed(indexed address,indexed string,(string,string,string),(address,address[],address[]))
          handler: handleCreateNFT
        - event: ContractSlugUpdated(indexed string)
          handler: handleUpdateNFTSlug
{{ /dataSources.sx1155 }}
templates:
{{ #dataSources.sx1155 }}
  - kind: ethereum/contract
    name: NFT
    network: {{ network }}
    source:
      abi: SX1155NFT
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/nft/index.ts
      entities:
        - NFT
        - NFTToken
      abis:
        - name: SX1155NFT
          file: ./abis/SX1155NFT.json
      eventHandlers:
        - event: KyaUpdated(address,string)
          handler: handleUpdateNFTUri
        - event: Minted(address,address,uint256,uint256,string,string)
          handler: handleCreateToken
        - event: TokenKyaUpdated(address,indexed uint256,string)
          handler: handleUpdateTokenUri
        - event: Commented(address,uint256,string,uint256)
          handler: handleComment
        - event: CommentRemoved(address,uint256,string,uint256)
          handler: handleCommetRemoved
        - event: RoleSet(indexed address,indexed uint256,indexed bool)
          handler: handleRoleGranted
{{ /dataSources.sx1155 }}
